
/* ----- Style for Modals only -----*/


.modal-header{
  padding: 10px 15px;
}


@media (min-width: 768px){
  #modalTicketDescription .modal-body, #modalTicketDescription .panel-body{
    padding: 5px;
  }
}

#modalTicketDescription .panel-body{
  overflow-y: scroll;
  max-height: 400px;
}

#modalTicketDescription .well{
  overflow-y: scroll;
  max-height: 80px;
}


#altaInterno-row .well-sm{
  margin-bottom: 0px;
}

.modal-footer{
  padding: 7px 15px;
}
